*{
    line-height: 1.6em;
    margin:0;
}
body{
    color:white;
    background-color: #05BB6F;
}
.box-1{
    background-color: #d12985;
    border-left: 5px solid blue;
    border-right: 5px solid blue;
    padding-top: 20px;
    margin: 20px 0;
    padding-right: 20px;
    padding-left: 20px;
}

.box-1 h1{
    font-weight: 1000;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.23em;
    word-spacing: 1em;
}
.box-2{
    border: 3px dotted #ccc;
    padding:20px;
    margin: 20px 0;

}

.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}
.categories h2 {
    text-align: center;
   
}
.categories ul{
    padding: 0;
    list-style: none;
}

.categories a:link{
    text-decoration: none;
    color:rgb(19, 19, 19);
}
.categories a:visited{
    
}
.categories a:hover{
    color:aqua
}
.categories a:active{
    color:rgb(255, 212, 19)
}
.categories li{
    padding-bottom: 8px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check-mark.png');
}
.categories ul{
    padding: 20px;
}
.my-form{
    padding:20px;
}
.my-form .form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
.box-2 a{
    text-decoration: none;
}
.box-2 a:hover{
    color:yellow;
}
.box-2 a:active{
    color: #d12985;
}
.more{
    margin-top: 0.5rem;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}
.button:hover{
    color: orange;
}

.block {
    float:left;
    width:33.3%;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.clr{
    clear:both;
}

#main-block{
    float:left;
    width: 70%;
    padding:15px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #d12985;
    padding: 15px;
    box-sizing: border-box;
}
.p-box{
    width:800px;
    height: 500px;
    border: 1px solid black;
    margin-top:30px;
    position:relative;
    background-image: url('../images/light.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.p-box h1{
    position:absolute;
    top:40px;
    left:200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.my-list li:first-child{
    background:red;
}

.my-list li:last-child{
    background:blue;
}

.my-list li:nth-child(5){
    background:yellow;
}

.my-list li:nth-child(even){
    background: grey;
}
.container{
    width: 80%;
    margin:auto;

}